###########################################################################
#                                  Dates                                  #
###########################################################################
snippet date "Insert localised date"
`date`
endsnippet
