###########################################################################
#                                  Dates                                  #
###########################################################################
snippet date "localised date"
`date`
endsnippet
snippet date "sortable date"
`date +%F`
endsnippet
