snippet Feature "New Feature"
Feature: ${1:Title of feature}

  So that I can ${2:find foo in a bar}
  As a ${3:my role}
  I want to ${4:get a certain result}
endsnippet

snippet Scenario "New Scenario"
Scenario: ${1:Scenario title}
  Given ${2:the subject}
  When ${3:the actor performs an action}
  Then ${4:the item should be "an outcome"}

endsnippet
