###########################################################################
#                                HTML TAGS                                #
###########################################################################
snippet t "Any Tag" !b
<${1:div}${2:${3: id="${4:identifier}"}${5: class="${6:class names}"}${7: other attributes}}>
  ${8:content}
</$1>
endsnippet
