###########################################################################
#                                  Ruby                                   #
###########################################################################
snippet if "if clause" !b
-if ${1:condition}
  ${VISUAL}$0
endsnippet
