###########################################################################
#                                override                                 #
###########################################################################
snippet li "LI-element" !b
<li${1:${2: id="${3:identifier}"}${4: class="${5:class names}"}${6: other attributes}}>${VISUAL}${7}</li>
endsnippet
