###########################################################################
#                               Genric file                               #
###########################################################################
snippet iphp "Inline tags" !b
<?php ?>
endsnippet

snippet iprint "Inline print"
<?php print ${1:printable} ?>
endsnippet
