###########################################################################
#                                Overrides                                #
###########################################################################

snippet due "due date" !b
  due: `date +%Y.%m.%d`
endsnippet
