[submodule "bundle/ack"]
	path = bundle/ack
	url = git@github.com:mileszs/ack.vim.git
[submodule "bundle/buffet"]
	path = bundle/buffet
	url = git@github.com:sandeepcr529/Buffet.vim.git
[submodule "bundle/bufkill"]
	path = bundle/bufkill
	url = git@github.com:vim-scripts/bufkill.vim.git
[submodule "bundle/dbgpclient"]
	path = bundle/dbgpclient
	url = git@github.com:garyaj/vim-dbgpclient.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/openscad"]
	path = bundle/openscad
	url = git@github.com:torrancew/vim-openscad.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git@github.com:tpope/vim-rails.git
